@use "mixfun";


.container_text{
    color: #FFF;
}

.text__title{
    font-family: var(--f-h);
    font-size: mixfun.pixelToEm(28);

}

.text__paragraph{
line-height: 1.5;
margin: 1.2rem 0;
}

.texts__btn{
    display: inline-block;
    color: var(--violet);
    background-color: #FFF;
    padding: 15px 75px;
    text-decoration: none;
    border-radius: 30px;
}